@import './styles/colors.config.css';
@import './styles/buttons.config.css';
@import './styles/scrollbar.config.css';
@import './styles/shadows.config.css';
@import './styles/nav.config.css';
@import './styles/typography.config.css';

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
    'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 12px;
  margin: 0 auto;
  text-align: center;
  color: var(--dark);
  min-height: 100vh;
  background-color: var(--light);
  overflow-x: hidden;
  scroll-behavior: smooth;
}

section {
  overflow-y: scroll;
  padding: 0em 1em;
  height: calc(100vh - 8.25em);
  position: fixed;
  top: 4.25em;
  width: 100vw;
}

ul {
  list-style-type: none;
  padding: 0em;
  margin: 0em;
}

main {
  padding: 0em 2em;
  margin: 0 auto;
}

/* MARK: CONTAINERS */
div#fixed_cont {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

/* MARK: GLOSSARY */
#gloss_cont {
  text-align: right;
  border: 0.25em solid var(--dark);
  margin-top: 1.5em;
  margin-bottom: 0.5em;
  background-color: #dcdcdc;
}
#gloss_route {
  background-color: var(--dark) !important;
  color: var(--yellow) !important;
  font-size: 1.5em;
  padding: 0.25em 0.5em 0.5em 1em;
  border-bottom-left-radius: 0.5em;
  display: inline-block;
}
#gloss_route:hover,
#gloss_route:hover > svg {
  color: #ff0000 !important;
  font-weight: 600;
}

#gloss_table {
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
  display: flex;
  justify-content: center;
  padding: 0em 0em 1.5em 0em;
  font-size: 1.25em;
}
#gloss_table::-webkit-scrollbar {
  display: none;
}
