<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Dump+Chase API - {% block title %}{% endblock title %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}" />
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='images/favicon.ico') }}" />
  </head>
  <body>
    {% include("_navigation.html") %}
    <section>
      <header>{% block header %}{% endblock header %}</header>
      <main>
        {% block content %}
        <p>No messages.</p>
        {% endblock content %}
      </main>
    </section>
    <h1>
      Public API User Interface -
      <a href="https://dump-n-chase.com/" target="_blank"> DUMP+CHASE</a>
    </h1>
  </body>
</html>
